body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   }
   section{
     position: relative;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
  }
  section header{
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 20px;
  }
  section header ul{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  section header ul li{
      list-style: none;
      padding-left: 20px;
  }
  section header ul li a{
      color:black;
      text-decoration: none;
      font-size: 13px;
  }
  section header ul li a button{
      background-color: #4584ef;
      border: none;
      padding: 8px 14px;
      outline: none;
      cursor: pointer;
      border-radius: 3px;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
  }
  section .main{
      width: 580px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  section .main .searcebox{
      position: relative;
      width: 100%;
      margin-top: 20px;
  }
  section .main .searcebox .searce{
      width: 100%;
      padding: 13px;
      padding-left: 45px;
      padding-right: 60px;
      border-radius: 30px;
      outline: none;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3) ;
      font-size: 16px;
  }
  section .main .searcebox .icons{
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      padding: 12px 20px;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;
  }
  section .main .buttons{
      margin-top: 20px;
  }
  section .main .buttons button{
      margin: 5px;
      padding: 12px 20px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 1px solid transparent;
   }
   section .main .buttons button:hover{
    border: 1px solid #ccc;
   }
   section .main .lang{
    margin-top: 20px;
   }
   section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
   }
   section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.5);
   }
   section .footer .row ul{
    display: flex;
   }
   section .footer .row ul li{
    list-style: none;
   }
   section .footer .row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
   }
   /*Mobile view*/
    @media (max-width:768px){
      section header{
        width: 97%;
      }
      section .main .searcebox .searce{
        width: 72%;
      }
      section .main .searcebox .icons{
        width: 82%;
      }
      section .footer .row ul{
    display: block;
   }
      }